/* Reset de estilos por defecto */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales del body */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

/* Estilos para el encabezado */
header {
    background-color: #4CAF50; /* Verde */
    color: white;
    padding: 1vw;
    text-align: center;
}

/* Estilos para el título */
#title {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

/* Estilos para el contenedor de la barra de navegación */
#nav_opts {
    background-color: #333; /* Gris oscuro */
    border-radius: 5px;
}

/* Estilos para la lista de navegación */
#nav_opts ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

/* Estilos para cada elemento de la lista */
#nav_opts li {
    margin: 0 15px;
    font-size: 1rem;
    color: white
}
#jscontent{
    padding: 1vw;
    width: 50vw;
    height:100% ;
    margin: 0 auto;
    margin-top: 1em;
    border-style:solid;
    border-color: black;
}

label{
    display:inline-block;
    margin-top: 1em;
}
button,textarea{
    display: block;
    margin-top: 1em;
}
fieldset{
    margin-top: 1em;
    margin-left: 1em;
}
input:invalid,
textarea:invalid {
    background-color: rgba(255, 0, 0, 0.098);
}
input:invalid:required {
    background-image: linear-gradient(to right, pink, lightgreen);
}
input:valid,
textarea:valid {
    background-color: rgba(152, 251, 152, 0.192);
}